In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
# constants
FILE_PATH = "cars.csv"

## Data

This dataset was retrieved from [kaggle](https://www.kaggle.com/datasets/juanmerinobermejo/us-sales-cars-dataset). It provides comprehensive information about used cars available for sale in the United States. The dataset contains the following key attributes:

- **Brand:** The brand or manufacturer of the car.
- **Model:** The specific model of the car.
- **Mileage:** The number of miles the car has been driven.
- **Year:** The manufacturing year of the car.
- **Status:** Indicates whether the car is new, used, or certified pre-owned.
- **Dealer:** Information about the dealer or seller offering the car.
- **Price:** The listed price of the car in USD.

In [3]:
df = pd.read_csv(FILE_PATH, encoding="utf-16")
df.head()

,Brand,Model,Year,Status,Mileage,Dealer,Price
0,Mazda,CX-5,2023,New,NaN,NaN,36703.0
1,Kia,Sportage,2023,New,NaN,Classic Kia,28990.0
2,Chevrolet,Camaro,2024,New,NaN,Classic Chevrolet Beaumont,41425.0
3,Ford,Bronco,2023,Used,1551.0,Mike Smith Chrysler Dodge Jeep RAM,58900.0
4,Acura,TLX,2021,Used,30384.0,Mike Smith Nissan,34499.0

## Preprocessing the Data

To clean the data we will:
1. data cleaning
2. data transformation
3. feature reduction

In [4]:
row_count = len(df)
print(f"Total Rows: {len(df)}")
df.isnull().sum().map(lambda sum: f"{sum / row_count:.2%}")

Total Rows: 51793

Brand       0.00%
Model       0.00%
Year        0.00%
Status      0.00%
Mileage    55.63%
Dealer      0.20%
Price       2.22%
dtype: object

### Missing Values
The statistics above indicate the percentage of missing data under each column. Many of the rows are missing entries for mileage. We can drop the rows with missing values for mileage and price.

In [5]:
df = df.dropna()
print(f"Total Rows: {len(df)}")

Total Rows: 22974

### Remove duplicates

In [6]:
df = df.drop_duplicates()
print(f"Total Rows: {len(df)}")

Total Rows: 22935

### Data Transformation / Normalization
- we should scale certain features (like year to age)
- we should check for any typos or inconsistencies in text

In [7]:
df["Age"] = date.today().year - df.Year

In [ ]:
for brand in df.Brand.unique():
    print(brand, end=",\t")

Ford,	Acura,	Volkswagen,	GMC,	Infiniti,	Lexus,	Toyota,	Mazda,	Honda,	Lincoln,	Mercury,	Cadillac,	BMW,	Chevrolet,	Hyundai,	Land Rover,	Audi,	Mercedes,	Jeep,	Porsche,	Kia,	MINI,	Nissan,	Subaru,	RAM,	Maserati,	Tesla,	Bentley,	Dodge,	Mitsubishi,	FIAT,	Rivian,	Genesis,	Aston Martin,	Buick,	Jaguar,	Lamborghini,	Hummer,	Saturn,	Rolls-Royce,	Volvo,	Ferrari,	Polestar,	Lucid,	Alfa Romeo,	Scion,	Chrysler,	Pontiac,	Karma,	Smart,	McLaren,	Lotus,	Saab,	Maybach,	Suzuki,	International Scout,	Geo,	Oldsmobile,	Isuzu,

In [ ]:
for brand in df.Model.unique():
    print(brand, end=",\t")

Bronco,	TLX,	Golf,	Yukon,	QX30,	ES,	Sierra,	Tundra,	CX-5,	Accord,	Atlas,	Sequoia,	Continental,	Marquis,	IS,	Mustang,	LS,	Nautilus,	CT5,	Escalade,	MDX,	435 i,	ILX,	Palisade,	X7,	Escape,	Sonata,	Land Cruiser,	Navigator,	Range Rover,	RS 5,	E-Class,	Grand Cherokee,	GLS 600,	Highlander,	Wagoneer,	GLS 450,	Cayenne,	Q7,	TT,	Wrangler,	F-150,	F-250,	Defender,	QX80,	QX60,	Essentia,	GLE,	Panamera,	Telluride,	Forte,	Cooper,	A7,	Juke,	CT6,	WRX,	Camaro,	Crosstrek,	Town Car,	Fusion,	2500,	Q5,	Discovery,	G 550,	e-tron,	Ghibli,	Tahoe,	6,	CR-V,	Elantra,	GX,	Passport,	Odyssey,	Explorer,	Corvette,	C-Class,	F-350,	X4,	Civic,	3,	Suburban,	Fiesta,	GT,	Model X,	Flying Spur,	Roadster,	xD,	Tucson,	RX,	Macan,	Taycan,	RDX,	Outback,	Challenger,	Ascent,	Tacoma,	1,	LX,	X5,	SQ5,	540 i,	A8,	QX50,	S3,	1500,	Sportage,	Prius,	Camry,	Aviator,	Corolla,	Colorado,	Mirage,	Terrain,	3500,	Renegade,	Silverado,	Model S,	86,	500,	Model Y,	Altima,	Viper,	R1S,	Ioniq,	Tiguan,	Model 3,	Durango,	Expedition,	CX-30,	Mazda3,	CX-9,	CT4-V,	Supra,	Q40,	Avalon,	M5,	Outlander,	A4,	Titan,	C-HR,	Venza,	Cruze,	CX-3,	GLC,	330 i,	4Runner,	FJ Cruiser,	RAV4,	G80,	SRX,	Passat,	CT4,	Canyon,	AMG GT,	S8,	Vantage,	S-Class,	Versa,	Charger,	Enclave,	911,	Santa Cruz,	F-PACE,	SC 400,	X6,	Coupe,	Aventador,	Journey,	AMG E53,	Santa Fe,	GS 350,	GV80,	S5,	Integra,	HR-V,	Pilot,	H2 SUT,	Pathfinder,	Q8,	SL 400,	Sky,	4MATIC,	Gladiator,	Excursion,	RC,	Levante,	Cayman,	Cullinan,	XT5,	M440 i,	X3,	iX xDrive50,	XC90,	UX,	XC60,	430 i,	NX,	California,	LC,	750 i,	Niro,	BRZ,	Boxster,	QX56,	M3,	750,	Bentayga,	Quattroporte,	H3,	Thunderbird,	2,	S60,	M340,	XB7,	Grand Wagoneer,	GLB,	GS F,	Kona,	Carnival,	Bolt,	Rio,	Seltos,	Q60,	Azera,	R32,	740,	M4,	XC40,	MX-5 Miata,	GL 450,	MKZ,	Malibu,	Grand Touring,	Sorento,	Murano,	LR4,	Flex,	RLX,	XT6,	V60,	MKC,	V90,	Maxima,	GLS 580,	GR86,	G70,	Impala,	CL,	Rogue,	Corsair,	Stelvio,	Blazer,	Spider,	C70,	CTS,	535 i,	Encore,	M6,	Fit,	Jetta,	TC,	Edge,	300,	Focus,	S4,	Sienna,	Traverse,	Armada,	RS 7,	Frontier,	Z Sport,	Optima,	NV200 S,	Patriot,	GranTurismo,	Forester,	SLK32,	Pacifica,	C 43,	Town & Country,	Leaf S,	Ranger,	SC 430,	Envision,	R8,	SL 550,	Ridgeline,	TL,	A6,	A3,	I-PACE,	Venue,	Transit,	CR-Z,	440 i,	XK,	Touareg,	SQ8,	Spyder,	Trax,	i3,	M8,	Xterra,	525,	E-PACE,	Acadia,	Eclipse Cross,	Mazda6,	Yaris,	F-TYPE,	M-Class,	G90,	718,	XE,	M2,	Compass,	R1T,	Q3,	X2,	Cherokee,	Equinox,	Trailblazer,	428 i,	Quest,	Dart,	550 i,	QX70,	Z4,	EV6,	LYRIQ,	GV70,	i8,	XF,	K900,	Mariner,	MKS,	Giulia,	SL 55,	Volt,	MKT,	S6,	Electric,	ARIYA,	Regal,	Soul,	Maverick,	LeSabre,	ATS,	S2000,	A-Class,	Accent,	Aveo,	PT Cruiser,	LaCrosse,	C30,	Stinger,	Chevelle,	4500,	Veloster,	528 i,	Impreza,	720S,	Arteon,	530 i,	LTD,	SLK300,	RS6,	MX-30,	CLA,	Cascada,	C-Max,	XC70,	Avalanche,	CC,	Firebird,	X1,	Taurus,	A5,	Lancer,	QX55,	Crosstour,	Beetle,	Sentra,	NV3500,	EcoSport,	Lucerne,	Legacy,	535,	XTS,	Police Interceptor,	Sonic,	ID.4,	Z,	GLA,	C10,	Verano,	S90,	DTS,	Grecale,	FF Base,	Gallardo,	Arnage,	S7,	Urus,	Silver Seraph,	Alpina,	Liberty,	xB,	9-3,	Matrix,	Type 57,	840 i,	LR2,	XJ,	Cabrio,	Metris,	e-Golf,	DeVille,	Solstice,	Eos,	iQ,	H2,	CJ-5,	760i,	M850 i,	RS 3,	528i,	MKX,	XL7,	XLR,	Hardtop,	E350,	B4000,	Crossfire,	Huracan,	XT4,	Savana,	M760 i,	i-MiEV,	GV60,	Scout,	FX35,	Park Avenue,	Solterra,	Grand Prix,	NV2500,	NSX,	Tribute,	ForTwo,	E250,	Insight,	ProMaster,	Cadenza,	Baja,	Convertible,	G37,	G35,	Ghost,	Wraith,	Crown,	S209,	675LT,	560 SL,	Neon,	Avenger,	El Camino,	del Sol,	FR-S,	Monte Carlo,	Riviera,	Tracker,	Dakota,	Mulsanne,	TSX,	Grand Caravan,	Sprinter,	Sedona,	928,	Mazda5,	SQ7,	RZ 450e,	DB11,	Aztek,	530e,	488,	570GT,	Roma,	914,	488 GTB,	F8 Tributo,	Century,	Dawn,	9-5,	Stealth,	SL 450,	Vibe,	SS,	EQS,	Kicks,	Caravan,	HHR,	Cavalier,	Sebring,	GS,	GTC4Lusso,	iX M60,	Element,	bZ4X,	Air,	Cutlass,	Mark,	Astro,	i7,	DB9,	Eurovan,	STS,	Captiva,	Trooper,	JX35,	RL,	Galant,	528,	Venture,	MR2,	DBS,	SL55,	Commander,	Elise,	Bonneville,	Rapide,	GS-6,	Eldorado,	Strada,	Cobalt,	Grand Vitara,	Equus,	SX4,	SLS,	600LT,	570S,	Portofino,	Endeavor,	K5,	CX-7,	SLK350,	S-TYPE,	MC20,	Nitro,	B3000,	4C,	M35,	LeBaron,	Celica,	Entourage,	E150,	Pickup Truck,	Phantom,	EQE,	Mirai,	924 S,

In [ ]:
df.describe()

               Year        Mileage         Price           Age
count  22935.000000   22935.000000  2.293500e+04  22935.000000
mean    2018.095487   53462.804404  3.923089e+04      4.904513
std        4.985611   44560.944849  3.421593e+04      4.985611
min     1959.000000       0.000000  1.990000e+03     -1.000000
25%     2016.000000   20619.000000  2.199500e+04      2.000000
50%     2020.000000   42140.000000  3.295900e+04      3.000000
75%     2021.000000   73971.000000  4.698450e+04      7.000000
max     2024.000000  400396.000000  1.299995e+06     64.000000